# Census Bureau ACS Table Crosswalk

Looks for correlated tables inside both Census Bureau ACS 5yr and ACS Supplemental Estimate 1yr datasets that can be compared against one another.

In [8]:
import pandas as pd
import os
import sqlalchemy
import requests
import warnings

In [9]:
# imports Census survey data
acs_db_filepath = os.path.join('data/databases/census_acs5_2022_block_group.db')
acs_sql_engine = sqlalchemy.create_engine('sqlite:///' + acs_db_filepath)
acs_tables = pd.read_sql_table('tables', acs_sql_engine)
acs_tables

      index      name                                            concept
0         4    B24022  sex_by_occupation_and_median_earnings_in_the_p...
1         5   B19001B  household_income_in_the_past_12_months_(in_202...
2         6  B07007PR  geographical_mobility_in_the_past_year_by_citi...
3         7   B19101A  family_income_in_the_past_12_months_(in_2022_i...
4        14   B01001B       sex_by_age_(black_or_african_american_alone)
...     ...       ...                                                ...
1090  27854   B19013H  median_household_income_in_the_past_12_months_...
1091  27894    B25052      kitchen_facilities_for_occupied_housing_units
1092  27901    B25020                                    tenure_by_rooms
1093  27976    B99187  age_by_allocation_of_independent_living_diffic...
1094  27988   B992512                   allocation_of_vehicles_available

[1095 rows x 3 columns]

In [10]:
acsse_db_filepath = os.path.join('data/databases/census_acsse_2022_congressional_district.db')
# creates connection to SQLite database
acsse_sql_engine = sqlalchemy.create_engine('sqlite:///' + acsse_db_filepath)
acsse_tables = pd.read_sql_table('tables', acsse_sql_engine)
acsse_tables

    index       name                                            concept
0       4    K202101  veteran_status_for_the_civilian_population_18_...
1       5    K200201                                               race
2       6    K202505                               year_structure_built
3      11    K201802               work_experience_by_disability_status
4      12    K200104                                  population_by_age
5      14    K201401  school_enrollment_by_level_of_school_for_the_p...
6      22    K202403  industry_for_the_civilian_employed_population_...
7      25    K202401  occupation_for_the_civilian_employed_populatio...
8      46    K202506                   year_householder_moved_into_unit
9      47    K202302  sex_by_full-time_work_status_in_the_past_12_mo...
10     49    K201501  educational_attainment_for_the_population_25_y...
11     50    K202601                          group_quarters_population
12     52    K201001  marital_status_for_the_population_15_years_and...
13     53    K201803                              types_of_disabilities
14     66    K202701            age_by_health_insurance_coverage_status
15     67    K200102                   population_under_18_years_by_age
16     79    K201905  median_nonfamily_household_income_in_the_past_...
17     81    K202002  median_earnings_in_the_past_12_months_(in_2022...
18     83    K202503  total_population_in_occupied_housing_units_by_...
19     85    K201703  poverty_status_in_the_past_12_months_of_famili...
20     94    K201601                                 household_language
21     99    K200501            citizenship_status_in_the_united_states
22    101    K200901                                     household_type
23    102    K202201  receipt_of_food_stamps/snap_in_the_past_12_mon...
24    105  K200501PR                  citizenship_status_in_puerto_rico
25    112    K201101         own_children_under_18_years_by_family_type
26    139    K202502                                     housing_tenure
27    145    K202509                                      housing_value
28    148    K200701  geographical_mobility_in_the_past_year_in_the_...
29    151    K201801                           disability_status_by_age
30    154    K200802                                travel_time_to_work
31    158    K200103                                  median_age_by_sex
32    182    K201902  median_household_income_in_the_past_12_months_...
33    183  K200701PR  geographical_mobility_in_the_past_year_in_puer...
34    185    K201701        poverty_status_in_the_past_12_months_by_age
35    186    K202501                                   occupancy_status
36    188    K202703                     public_health_insurance_status
37    190    K209803                 unweighted_total_population_sample
38    192    K202508                                    mortgage_status
39    202    K200301                          hispanic_or_latino_origin
40    204    K200503                place_of_birth_in_the_united_states
41    206    K201102  households_by_presence_of_people_60_years_and_...
42    214    K202510                             median_value_(dollars)
43    215    K202702                    private_health_insurance_status
44    230    K201903  family_income_in_the_past_12_months_(in_2022_i...
45    246  K200503PR                      place_of_birth_in_puerto_rico
46    262    K201702  ratio_of_income_to_poverty_level_in_the_past_1...
47    279    K202402  class_of_worker_for_the_civilian_employed_popu...
48    282    K202301  employment_status_for_the_population_16_years_...
49    283    K202507                                         gross_rent
50    284    K209801                     unweighted_housing_unit_sample
51    290    K200801                    means_of_transportation_to_work
52    293    K201901  household_income_in_the_past_12_months_(in_202...
53    295    K201904  median_family_income_in_the_past_12_months_(in...
54    299    K200101                                  population_by_sex
55    320    K202511                        median_gross_rent_(dollars)
56    330    K202102  service-connected_disability-rating_status_for...
57    331    K202504                                 units_in_structure
58    333    K202801  presence_of_a_computer_and_type_of_internet_su...

In [34]:
matching_acs_index_list = []
matching_acsse_index_list = []
for acsse_index, acsse_concept in acsse_tables['concept'].items():
    for acs_index, acs_concept in acs_tables['concept'].items():    
        if acsse_concept == acs_concept:
            matching_acs_index_list.append(acs_index)
            matching_acsse_index_list.append(acsse_index)

In [35]:
matching_acs_tables = acs_tables.iloc[matching_acs_index_list]
matching_acs_tables

      index    name                                            concept
1060  27074  B02001                                               race
172    3898  B25034                               year_structure_built
436   10187  B14001  school_enrollment_by_level_of_school_for_the_p...
876   22226  B15003  educational_attainment_for_the_population_25_y...
1044  26686  B26001                          group_quarters_population
763   19081  B09001                   population_under_18_years_by_age
658   16351  B19202  median_nonfamily_household_income_in_the_past_...
148    3185  B20017  median_earnings_in_the_past_12_months_(in_2022...
490   11939  B25008  total_population_in_occupied_housing_units_by_...
983   24809  B08303                                travel_time_to_work
1088  27778  B01002                                  median_age_by_sex
1032  26492  B19013  median_household_income_in_the_past_12_months_...
643   15792  B17020        poverty_status_in_the_past_12_months_by_age
228    4965  B25002                                   occupancy_status
158    3570  B98003                 unweighted_total_population_sample
407    9631  B25081                                    mortgage_status
328    7398  B03003                          hispanic_or_latino_origin
76     1546  B11006  households_by_presence_of_people_60_years_and_...
55     1025  B25077                             median_value_(dollars)
200    4460  B19101  family_income_in_the_past_12_months_(in_2022_i...
761   19038  B23025  employment_status_for_the_population_16_years_...
641   15583  B25063                                         gross_rent
623   15145  B98001                     unweighted_housing_unit_sample
500   12088  B08301                    means_of_transportation_to_work
914   23188  B19001  household_income_in_the_past_12_months_(in_202...
102    2086  B19113  median_family_income_in_the_past_12_months_(in...
1002  25526  B25064                        median_gross_rent_(dollars)
719   17891  B25024                                 units_in_structure
595   14376  B28003  presence_of_a_computer_and_type_of_internet_su...
819   20823  B28008  presence_of_a_computer_and_type_of_internet_su...

In [41]:
matching_acsse_tables = acsse_tables.iloc[matching_acsse_index_list]
matching_acsse_tables

    index     name                                            concept
1       5  K200201                                               race
2       6  K202505                               year_structure_built
5      14  K201401  school_enrollment_by_level_of_school_for_the_p...
10     49  K201501  educational_attainment_for_the_population_25_y...
11     50  K202601                          group_quarters_population
15     67  K200102                   population_under_18_years_by_age
16     79  K201905  median_nonfamily_household_income_in_the_past_...
17     81  K202002  median_earnings_in_the_past_12_months_(in_2022...
18     83  K202503  total_population_in_occupied_housing_units_by_...
30    154  K200802                                travel_time_to_work
31    158  K200103                                  median_age_by_sex
32    182  K201902  median_household_income_in_the_past_12_months_...
34    185  K201701        poverty_status_in_the_past_12_months_by_age
35    186  K202501                                   occupancy_status
37    190  K209803                 unweighted_total_population_sample
38    192  K202508                                    mortgage_status
39    202  K200301                          hispanic_or_latino_origin
41    206  K201102  households_by_presence_of_people_60_years_and_...
42    214  K202510                             median_value_(dollars)
44    230  K201903  family_income_in_the_past_12_months_(in_2022_i...
48    282  K202301  employment_status_for_the_population_16_years_...
49    283  K202507                                         gross_rent
50    284  K209801                     unweighted_housing_unit_sample
51    290  K200801                    means_of_transportation_to_work
52    293  K201901  household_income_in_the_past_12_months_(in_202...
53    295  K201904  median_family_income_in_the_past_12_months_(in...
55    320  K202511                        median_gross_rent_(dollars)
57    331  K202504                                 units_in_structure
58    333  K202801  presence_of_a_computer_and_type_of_internet_su...
58    333  K202801  presence_of_a_computer_and_type_of_internet_su...